<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="body text-center  mt-3 mb-4">
                    <h3 class="text-theme-center ">All Blog Posts</h3>
                    <p> From here you can manage your blog posts.</p>
                    <button class="btn btn-info bg-theme" routerLink = '/posts/new'>Add New Post</button>
                    <button class="btn btn-warning ms-2" routerLink = '/'>Back to dashbord</button>
                </div>
            </div>
        </div>
    </div>

    
</div>